@charset "UTF-8";
@import "assets/css/bootstrap";
//@import "assets/css/flexslider";
@import "assets/css/fancybox3";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$primarycolor: #222;
$secondarycolor: #444;
$white: #fff;
$black: #000;

$textcolor: #333;
$linkcolor: #1f6fd1;

$titlefont: 'Open Sans',  sans-serif;
$bodyfont: 'Open Sans', sans-serif;


// Template parts (after variables above)
@import "assets/css/forms";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection { 
	background: $linkcolor;
	color: $white; 
}

::selection { 
	background: $linkcolor; 
	color: $white;
}

body {
	background: $white;
	font-family: $bodyfont;
	-webkit-font-smoothing: antialiased;
	line-height: 30px;
	font-weight: 400;
	font-size: 16px;
	word-break: break-word;
}

p {
	margin: 0 0 15px 0;
	&.meta {
		color: lighten($textcolor, 20%);
		font-size: 13px;
		margin: 0 0 20px 0;
		font-weight: 700;
		
		a { 
			color: $textcolor;
			
			&:hover { 
				color: $linkcolor; 
			}
		}
	}
}

strong { font-weight: bold; }

a {
	color: $linkcolor;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus  {
		color: darken($linkcolor, 5%);
		text-decoration: underline;
	}

}

.search-highlight {
	background-color: $linkcolor;
	color: $white;
}

.clearfix {
	clear: both;
}

img {
	display: inline-block;
    height: auto;
    max-width: 100%;
    @include border-radius(2px);

    &.alignleft {
    	float: left;
    }

	&.aligncenter {
		display: block;
	    margin-left: auto;
  		margin-right: auto;
	}

    &.alignright {
    	float: right;
    }
}

ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 0px;
}

.wp-caption {
	text-align: center;
	&.alignleft {
		float: left;
		margin-right: 30px;
	}
	&.aligncenter {
    	margin-left: auto;
    	margin-right: auto;
    }
    &.alignright {
    	float: right;
    	margin-left: 30px;
    }
}

figure {
	&.thumb {
		float: left;
		margin-right: 20px;
	}
}

.gallery {
	.gallery-item {
		.gallery-icon {
			margin-bottom: 10px;
			a img{
				border: none !important;
				opacity: 1;
				transition: all ease-in-out 125ms;

				&:hover {
					opacity: 0.9;
				}
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primarycolor;
	font-family: $titlefont;
	font-weight: 700;
}

h1 { 
	font-size: 36px;
	margin: 0 0 32px 0;
}

h2 { 
	font-size: 24px;
	margin: 0 0 24px 0;		
}

h3 { 
	font-size: 20px; 
	margin: 0 0 24px 0;		
}

h4 { 
	font-size: 18px;
	margin: 0 0 24px 0;		
}

h5 { 
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 24px 0;
}

h6 { 
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 24px 0;		
}


.btn {
	padding: 5px 15px;
	color: $white;
	text-decoration: none;
	display: inline-block;
	transition: all ease-in-out 125ms;

	&.primary {
		background: $primarycolor;

		&:hover,
		&:active,
		&:focus {
			color: $white;
			background: lighten($primarycolor, 15%);
			text-decoration: none;
		}
	}

	&.secondary {
		background: lighten($secondarycolor, 25%);

		&:hover,
		&:active,
		&:focus  {
			color: $white;
			background: $secondarycolor;
			text-decoration: none;
		}
	}
}

.more {

	&:after {
		content: "»";
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

.back-link {
	&:before {
		content: "«";
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#cookie-notice {
	position: fixed;
	z-index: 10;
	padding: 25px;
	bottom: 25px;
	right: 25px;
	width: 370px;
	height: auto;
	background: $white;
	animation: fadein 0.8s;
	box-shadow: 0px 0px 10px 2px fade-out($black, 0.9);

	.cookie-notice-text {
		margin-bottom: 15px;
		display: inline-block;
		color: $textcolor;
	}

	a{
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&.cookie-dismiss{


			width: 100%;
			display: inline-block;
			border: 2px solid $linkcolor;
			text-align: center;
			padding: 3px;
			font-weight: 600;
			text-decoration: none;
			transition: all ease-in-out 125ms;

			&:hover {
				text-decoration: none;
				color: $white;
				background: $linkcolor;
			}
		}
	}
}

nav {
	&.pagination {
		padding: 10px 0px;
		.screen-reader-text {
			display: none;
		}

		.nav-links {
			.page-numbers {
				padding: 4px 10px;
				color: $textcolor;
				font-weight: 600;

				&.current {
					background: $linkcolor;
					color: $white;

					&:hover,
					&:focus,
					&:active {
						background: $linkcolor;
						color: $white;
					}
				}

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
					background: darken($white, 5%);
				}

				&.dots {
					&:hover,
					&:focus,
					&:active {
						background: transparent;
					}
				}
			}
		}

	}
}


blockquote {
	border-left: $primarycolor 5px solid;
	padding: 10px 0px 10px 20px;
	margin: 20px 15px 20px 30px;

	p {
		color: lighten($black, 40%);
		margin: 0px;
	}		
}

#masthead {
	padding: 10px 0px;
	background: $white;

	.site-title {
		margin-bottom: 0px;

		a {
			font-size: 36px;
			font-weight: 400;
			color: $black;

			&:hover,
			&:focus,
			&:active{ text-decoration: none; }
		}
	}

	.site-description {
		font-size: 16px;
		margin: 0px;
		color: lighten($secondarycolor, 25%);
	}
}

.frontpage {
	padding: 80px 0px;
	text-align: center;
	background-color: lighten($black, 90%);

	h2 {
		color: lighten($primarycolor, 25%);
		font-size: 28px;
		margin: 0;
	}
}

.handle {
	width: 100%;
	color: $white;
	box-sizing: border-box;
	padding: 20px;	
	cursor: pointer;
	display: none;

	.mobile-icon {
		float: right;
		padding-top: 5px;

		.line {
			height: 2px;
			width: 20px;
			background-color: $white;
			margin: 4px 0px;

			&:nth-child(1) {
				margin-top: 0px;
			}

			&:nth-child(3) {
				margin-bottom: 0px;
			}
		}

	}

}

nav {
	&.topnav {
		ul {
			display: block;
			float: right;
			
			li {
				float: left;

				a {
					padding: 10px 5px;
					font-size: 13px;
					line-height: 18px;
				}
			}
		}
	}
}

.site-navigation {
	background-color: $primarycolor;
}

nav {
	ul  {
		&.main-nav {
			overflow: hidden;
			color: $white;
			font-size: 0px;
			transition: max-height 0.4s;

			li {
		 		display: inline-block;
		 		padding: 0px;
		 		font-size: 15px;

		 		&.menu-item-has-children {
		 			a {
		 				&:after {
						    border-color: $white transparent transparent;
						    border-radius: 3px;
						    border-style: solid;
						    border-width: 5px 5px 0;
						    content: '';
						    display: inline-block;
						    height: 0;
						    margin: 0 0 3px 6px;
						    position: relative;
						    top: 1px;
						    width: 0;
		 				}
		 			}

		 			ul {
		 				&.sub-menu {
		 					width: 160px;
		 					background-color: $primarycolor;

		 					li {
		 						text-align: center;
		 						width: 100%;
		 						a {
		 							&:after {
		 								content: none;
		 							}
		 						}
		 					}
		 				}
		 			}
		 		}
		 		
		 		a {
		 			display: block;
		 			padding: 15px 20px;
		 			color: $white;
		 			transition: all ease-in-out 125ms;

		 			&:hover,
		 			&:focus,
		 			&:active {
		 				background-color: $secondarycolor;
		 				color: $white;
		 				text-decoration: none;
		 			}

		 		}

		 		&.current-menu-item,
		 		&.current-menu-ancestor {
					background-color: $secondarycolor;
				}
		 	}
		}
	}
}

.main-content {
	padding: 30px 0px;
	background-color: $white;

	h1 {
		margin-bottom: 10px;
	}

	article {
		padding: 0 0;
		margin-bottom: 20px;

		ul {
			list-style-type: disc;
			margin-left: 20px;
		}
	}

	.sidebar {
		display: inline-block;

		.widget {
			margin: 20px 0px;
			padding: 20px;
			background: darken($white, 5%);

			.widgettitle {
				font-size: 22px;
			}

			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}
}


.widget_rby_social {
	ul { 
		margin-top: -10px;

		li {
			margin-bottom: 10px;

			&:nth-child(1) {
				margin-top: 10px;
			}
			a {
				line-height: 20px;

				i {
					background: $white;
					width: 25px;
					height: 25px;
					border-radius: 200px;
					margin-top: 0px;
					margin-right: 8px;
					line-height: 25px;
					text-align: center;
					display: inline-block;
					transition: all ease-in-out 125ms;

					svg {
						fill: $primarycolor;
						height: 12px;
						margin: 6px auto 0;
						transition: all ease-in-out 125ms;

					}
				}
				.title {
					display: inline;
				}

				&:hover,
				&:focus,
				&:active  {
					i {
						svg {
							fill: $white;
						}
					}
				}
			}

			&.twitter {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #55ACEE;
						}
					}
				}
			}

			&.facebook {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #3B5998;

						}
					}
				}
			}

			&.instagram {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #E12F67;
						}
					}
				}
			}

			&.linkedin {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #007bb5;
						}
					}
				}
			}

			&.googleplus {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #CC3732;
						}
					}
				}
			}

			&.youtube {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #CD201F;
						}
					}
				}
			}

			&.email {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: $linkcolor;
						}
					}
				}
			}

			&.rss {
				a {
					&:hover,
					&:focus,
					&:active {
						i {
							background: #f26522;
						}
					}
				}
			}
		}

		&.large-icons {

			i {
				width: 45px;
				height: 45px;
				margin-right: 15px;
				margin-bottom: 10px;
				float: left;

				svg {
					height: 20px;
					margin: 12px auto 0;
				}
				
			}

			.title {
				display: none;
			}
		}

		&.small-icons {
			i {
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 15px;
				margin-right: 6px;
				margin-bottom: 10px;
				float: left;
			}
			.title {
				display: none;
			}
		}
	}
}

.site-footer {
	background-color: $primarycolor;
	color: $white;
	padding: 10px 0;

	p {
		color: $white;
		font-size: 14px;
		line-height: 18px;
		line-height: 1.5;
		margin: 0;
	}

	a {
		color: $white;
		font-size: 14px;
		
		&:hover,
		&:focus,
		&:active {
			color: $white;
			text-decoration: underline;
		}
	}


	.widget {
		.widgettitle {
			font-size: 22px;
			margin-bottom: 20px;
			color: $white;
		}
	}
}

nav {
	&.footernav {
		ul {
			display: block;
			float: right;
			margin: 0;
			
			li {
				float: left;

				a {
					padding: 0 5px;
				}
			}
		}
	}
}

nav {
	&#pager {
		.page-numbers {
			background: lighten($secondarycolor, 25%);
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			border-radius: 5px;
			color: $white;
				transition: all ease-in-out 125ms;

			&.current {
				background: $primarycolor;
				color: $white;

				&:hover,
				&:focus,
				&:active {
					background: $primarycolor;
				}
			}

			&.next {
				width: auto;
				padding: 0 10px;
			}

			&.prev {
				width: auto;
				padding: 0 10px;
			}

			&:hover,
			&:focus,
			&:active { 
				text-decoration: none;
				background-color: #666;
			}
		}
	}
}


@media screen and (min-width: 992px) { 

	nav {
		ul  {
			&.main-nav {
				li {
			 		display: inline-block;

			 		&.menu-item-has-children {
			 			ul {
							display: none;
							position: absolute;
							z-index: 1;
			 			}

						&:hover,
						&:focus,
						&:active {
			 				ul {
			 					&.sub-menu {
			 						transition: all ease-in-out 125ms;
			 						display: block;
			 						position: absolute;
									z-index: 1;
								}
			 				}
			 			}
			 		}

			 	}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.handle {
		display: block;
	}

.site-navigation-inner.col-md-12 {
	padding: 0px;
}
		nav {
			ul.main-nav {
				max-height: 0px;
				margin-top: 0px;
				margin-bottom: 0px;

				&.show {
					max-height: 100vh;
					overflow: hidden;
				}

				li {
					width: 100%;

					&.menu-item-has-children {
						ul {
							 clear: both;

							&.sub-menu {
								padding-bottom: 0px;
								width: 100%;

								li { 
									text-align: left;
									padding-left: 20px;
									padding-right: 20px;

									a {
										width: 100%;

										&:hover {
											background: transparent;
										}
									}

									&:hover {
										background: $secondarycolor;
									}
								}
							}
						}
					}
					&.current-menu-parent {
						background: transparent;
					}
				}
			}

			&.topnav { 
				display: none;
			}
			&.footernav {
				display: none;
			}
		}


	.site-info {
		text-align: center;
	}
}
@media screen and (max-width: 499px) {

	#cookie-notice {
		width: 100%;
		right: 0px;
		bottom: 0px;
	}
}

// Remove if the biggest size is to big
@media screen and (min-width: 1500px) {
  .container {
    width: 1400px;
  }
}

// RETINA
@media  only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
// Add special classes of img here

}